.jumbotron {
  background-image: url("../img/The_Pizza_Underground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  text-align: center;
  min-height: 300px;
  margin-bottom: 0px;
}

.container{

}

.col-sm-4 {
  display: block;
}

.btn {
  background-color: #FF3F30;
  font-weight: bold;
  color: white;
  float: right;
  margin: 3% 0 6% 0

}

.btn:hover,
.btn:focus {
  background-color: #FF5E30;
  font-weight: bold;
  color: white;
}

.form.container-fluid {
  background-color: #20E8CB;
  padding: 30px 0px 50px 0px;
}

.result.container-fluid {
  background-color: #FFA876;
}
.result.container-fluid .container{
  background-color: #FFA876;
  padding: 50px 0px 100px 0px;
  margin: 0 25%;
}
